<aside class="sidebar border-end bg-white h-100">
    <div class="p-3">

        <nav class="nav flex-column gap-2">

            <a 
                routerLink="/dashboard" 
                routerLinkActive="active" 
                class="nav-link"
                (click)="selecionarItem()">
                Dashboard
            </a>

            <a 
                routerLink="/lancamentos" 
                routerLinkActive="active" 
                class="nav-link"
                (click)="selecionarItem()">
                Lançamentos
            </a>

            <a
                routerLink="/categorias"
                routerLinkActive="active"
                class="nav-link">
                Categorias
            </a>

            <a
                routerLink="/plataformas"
                routerLinkActive="active"
                class="nav-link">
                Plataformas
            </a>

            <a 
                routerLink="/metas" 
                routerLinkActive="active" 
                class="nav-link"
                (click)="selecionarItem()">
                Metas
            </a>

            <a 
                routerLink="/relatorios" 
                routerLinkActive="active" 
                class="nav-link"
                (click)="selecionarItem()">
                Relatórios
            </a>

        </nav>

    </div>
</aside>